body {
  background: url(/assets/il_fullxfull.471844774_eo0k_original.jpg);
  background-size: 100% 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
